<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your listing has recieved an offer!</h1>
    <p>
    	Your listing for book: <strong><%= @offer.listing.book.title %></strong> has recieved an offer
    	for: $<%= @offer.price %>
    <br>
    </p>
    <p>To view or respond to this offer please go to the <em>My Listings</em> section of the app.</p>
  </body>
</html>